[mysql]
default-character-set=utf8mb4

[mysqld]
default_authentication_plugin=mysql_native_password
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8mb4

[cliant]
character_set_client=utf8mb4
character_set_connection=utf8mb4
default-character-set=utf8mb4

