<link rel="stylesheet" href="/css/stylesheet.css">

<h1><%= @fighter %></h1>

<form action="<%= params[:fighter_id] %>/add_memo" method="POST">
  memo:<br>
  <textarea name="memo" rows="8" cols="80"></textarea>
  <input type="submit" value="お願いします〜〜〜〜">
</form>

<% @fighter_memos.reverse_each do |memo| %>
  <p><%= text_plane(memo) %></p>
<% end %>
