<link rel="stylesheet" href="/css/stylesheet.css">

<div class="member">
  <% @users.each do |user| %>
    <a class="character-box" href="gorakubu/<%= user %>">
      <%= user %>
    </a>
  <% end %>
</div>
