<link rel="stylesheet" href="/css/stylesheet.css">

<header>
  <div class="yryr1">ゆるゆり</div>
  <div class="yryr2">Y☆R☆Y☆R☆</div>
</header>

<div class="member">
  <% @users.each do |user| %>
    <a class="character-box" href="gorakubu/<%= user %>">
      <%= user %>
    </a>
  <% end %>
</div>
