<html>
  <head>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>スマメモ</title>
  </head>
  <body>
    <header>
      <div class="yryr1">すまぶら</div>
      <div class="yryr2">S☆M☆B☆R☆</div>
    </header>
    <body>
      <%= yield %>
    </body>
    <footer>
    </footer>
  </body>
</html>
