<h1>新規登録</h1>

<form action="/test/create" method="post">
  <p>ユーザー名： <br>
  <input type="text" name="name" value=""></p>
  <p>LINE_ID： <br>
  <input type="text" name="lineid" value=""></p>
  <p>パスワード： <br>
  <input type="text" name="password" value=""></p>
  <input type="submit" value="送信">
</form>
