<link rel="stylesheet" href="/css/stylesheet.css">

<!-- <a href="/login" action="post">Log in</a> -->
<a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=<%= ENV["CLIENT_ID"] %>&redirect_uri=<%= ENV["REDIRECT_URI"] %>&scope=<%= ENV["SCOPE"] %>&access_type=offline"> hoge </a>
