<link rel="stylesheet" href="/css/stylesheet.css">

<header>
  <div class="yryr1">ゆるゆり</div>
  <div class="yryr2">Y☆R☆Y☆R☆</div>
</header>

<div class="member">
  <% @fighters.each do |key,val| %>
    <a class="character-box" href="/<%= key %>">
      <%= val %>
    </a>
  <% end %>
</div>
