<link rel="stylesheet" href="/css/stylesheet.css">

<header>
  <div class="yryr1">すまぶら</div>
  <div class="yryr2">S☆M☆B☆R☆</div>
</header>

<div class="member">
  <% @fighters.each do |data| %>
    <a class="character-box" href="/<%= data['id'] %>">
      <%= data['name'] %>
    </a>
  <% end %>
</div>
